@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {  /* Configuração para tablets */
    
    section#login{
       width: 90vw;
       height: 280px; 
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }


    section#login > div#formulario{
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px) { /* Configuração para desktop */

    section#login{
        width: 930px;
        height: 360px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.2em;
        margin: 20px 0px;
    }

    
}